@import "tailwindcss";

/* #root {
  background-image: url('../public/images/3409297.jpg');
  filter: grayscale(100%);
} */

:root {
  --primary-color: #12F7D6
}

.text-primary {
  @apply text-[var(--primary-color)];
}

.main-button {
  @apply py-2 border-2 cursor-pointer transition-all duration-500 ease-in-out rounded text-white border-[#12F7D6] backdrop-blur-md text-center;
  border-radius: 2rem 0.5rem 2rem 0.5rem ;
  /* Custom equivalent */
}

.main-button:hover {
  @apply rounded-[5rem] tracking-[.25em] font-bold;
  /* border-radius: 5rem; */
  /* More predictable than rounded-full */
}

.link  {
  @apply text-[var(--primary-color)] underline;
}